:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
  
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;

}

/** Globales **/
.contenedor {
    max-width: min(90%, 120rem);
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.header {
    background-image: url(img/logotipo.jpg);
  height: 45rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header__texto {
 text-align: center;
 color: var(--blanco);
 margin-top: 2rem;
 
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 480px) {
     h1  {
         text-align: center;
     }
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

.barra {
    padding-top: 4rem;
}

h1 {
    color: var(--blanco);
}



.titulo-secundario {
    text-align: center;
}
     
.bg-nav {
    background-color: aqua;
}

.navegacion-principal{
        display: flex;
        flex-direction: column-reverse;
   justify-content: space-between;
 }


 @media (min-width: 768px ) {
    .navegacion-principal {
        flex-direction: row;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--negro);
     padding: 1rem;
     font-size: 1.8rem;
     font-weight: bold;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--blanco);
}


.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 124, 0.48);
    background-color: var(--blanco);
    padding: 2rem;
    margin-top: 3rem;
}


@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem    ;
    }
  }

h2, h3 {
    text-align: center;
}



@media (min-width: 768px) {
     .escenarios-contenedor-1{
    
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem ;
            align-items: center;
            margin-top: 3rem;
     }
}


@media (min-width: 768px) {
    .escenarios-contenedor{
           display: grid;
           grid-template-columns: 1fr 1fr;
           column-gap: 1rem ;
          
    }
}


@media (min-width: 1200px) {
    .escenarios-contenedor{
           display: grid;
           grid-template-columns: 1fr 1fr 1fr 1fr;
           column-gap: 1rem ;
          
    }
}

.nombre , .dia , .title{
    text-align: center;
}



.calendario {
    background-color: aqua;
  line-height: 5rem;
    list-style: none;
    
}


.footer{
    width: 100%;
    margin-top: 2rem ;
     
    text-align: center;
    background-color: aqua;
}